---
import { storyblokEditable } from "@storyblok/astro";
import type { FaqSectionStoryblok } from "../../component-types-sb";
import SectionTitle from "../components/SectionTitle.astro";
import SectionWrapper from "../components/SectionWrapper.astro";
import FaqCard from "./FaqCard.astro";

interface Props {
  blok: FaqSectionStoryblok;
}

const { blok } = Astro.props;
---

<SectionWrapper
  {...storyblokEditable(blok)}
  bgColor="primary"
  animation="animationHidden animationBottom"
>
  <SectionTitle title="Frequently Asked Questions" />

  <div>
    {
      blok.faq_cards.map((blok) => (
        <div class="box-border max-lg:my-8">
          <FaqCard blok={blok} />
        </div>
      ))
    }
  </div>
</SectionWrapper>
