---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { HeroWithLinksStoryblok } from "../../component-types-sb";

interface Props {
  blok: HeroWithLinksStoryblok;
  language: string;
}

const { blok, language } = Astro.props;
---

<div {...storyblokEditable(blok)} class="bg-secondary-500 px-8 pt-20 md:px-20">
  <div
    class="from-black/70 via-black/50 to-transparent z-10 bg-gradient-to-t py-6"
  >
    <h1 class="mb-10 text-center text-2xl font-bold text-text-500 md:text-5xl">
      {blok.title}
    </h1>
    {
      !!blok.links && (
        <div class="mx-auto max-w-96">
          <div class="flex justify-around gap-8">
            {blok.links.map((blok) => (
              <StoryblokComponent
                blok={{
                  ...blok,
                  fontSize: "text-2xl",
                  color: "black",
                  font: "lora",
                }}
                language={language}
              />
            ))}
          </div>
        </div>
      )
    }
  </div>
</div>
