---
const { blok } = Astro.props;
---

<div
  id=`${blok.title.toLowerCase()}`
  class="relative mx-4 my-12 w-[520px] bg-ternary-500 p-12 font-lora shadow-main"
>
  <h3
    class="t-0 absolute left-1/2 -translate-x-1/2 -translate-y-1/2 bg-ternary-500 px-6 text-center"
  >
    {blok.title}
  </h3>

  <div class="border-4">
    <ul>
      {
        blok.menu.map((menuItem: any) => (
          <li>
            <p class="m-8 flex justify-between border-b text-lg">
              <span>{menuItem.item}</span>
              <span>{menuItem.price}</span>
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</div>
