---
import { storyblokEditable } from "@storyblok/astro";
import SectionWrapper from "../components/SectionWrapper.astro";
import MenuCard from "./MenuCard.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <SectionWrapper bgColor="secondary">
    <div class="flex flex-wrap justify-around">
      {blok.menu.map((menuItem: any) => <MenuCard blok={menuItem} />)}
    </div>
  </SectionWrapper>
</div>
