---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { PageStoryblok } from "../../component-types-sb.d.ts";

interface Props {
  blok: PageStoryblok;
  language: string;
}

const { language, blok } = Astro.props;
---

<main {...storyblokEditable(blok)}>
  {
    blok.body?.map((blok) => {
      return <StoryblokComponent language={language} blok={blok} />;
    })
  }
</main>
