---
import { storyblokEditable } from "@storyblok/astro";
import SectionWrapper, {
  type Props as SectionWrapperProps,
} from "../components/SectionWrapper.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Button from "../components/Button.astro";

interface Props {
  blok: {
    title: string;
    rating: number;
    cta: string;
    background_color: SectionWrapperProps["bgColor"];
  };
}

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <SectionWrapper bgColor={blok.background_color}>
    <SectionTitle title={blok.title} classes="text-center" />
    <p class="text-center font-lora font-medium text-xl md:text-5xl">
      {blok.rating}
    </p>
    <div class="flex justify-center">
      <Button text={blok.cta} />
    </div>
  </SectionWrapper>
</div>
