---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import SectionWrapper, {
  type Props as SectionWrapperProps,
} from "../components/SectionWrapper.astro";
import SectionTitle from "../components/SectionTitle.astro";

interface Props {
  blok: {
    title: string;
    reviews: any[];
    background_color: SectionWrapperProps["bgColor"];
  };
}

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <SectionWrapper bgColor={blok.background_color}>
    <SectionTitle title={blok.title} />
    <div
      class="flex justify-between gap-4 overflow-x-auto py-12 max-xl:-mx-12 max-md:-mx-2 max-md:pl-2 xl:gap-8"
    >
      {
        blok.reviews?.map((blok: any) => {
          return <StoryblokComponent blok={blok} />;
        })
      }
    </div>
  </SectionWrapper>
</div>
