---
import { twMerge } from "tailwind-merge";

interface Props {
  text: string;
  classes?: string;
}

const { text, classes } = Astro.props;
---

<button class="bg-secondary-500 px-11 py-3 shadow-main shadow-text-500">
  {text}
</button>
