---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { getTransLink, languages } from "../utils/langs";
import type { Props as LinkProps } from "../storyblok/Link.astro";

const { blok, language, langSwitch } = Astro.props;

const menu = blok.menu;
---

<header class="absolute z-50 w-full bg-primary-700 px-20 py-4">
  <div class="container mx-auto flex h-full items-center justify-between">
    <a href={getTransLink(language, "/")}>
      <h1 class="text-2xl text-secondary-100">Kawusia | Coffe Bar</h1>
    </a>
    <nav>
      <ul class="flex items-center space-x-8 text-base font-bold">
        {
          menu.map((menuItem: LinkProps) => (
            <li>
              <StoryblokComponent blok={{ ...menuItem, language }} />
            </li>
          ))
        }
        {
          languages.map((lang) => (
            <a
              class={`px-2 text-secondary-100 hover:bg-primary-200 ${lang === language ? "bg-primary-300" : ""}`}
              href={langSwitch[lang]}
            >
              {lang}
            </a>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
