---
import clsx from "clsx";

export interface Props {
  bgColor: "primary" | "secondary";
}

const { bgColor } = Astro.props;

const bgColorClass = {
  primary: "bg-primary-100",
  secondary: "bg-ternary-300",
};
---

<section class={clsx(bgColorClass[bgColor], "md:p-12 py-8 px-2")}>
  <div class="mx-auto max-w-7xl">
    <slot />
  </div>
</section>
