---
export interface Props {
  bgColor?: "" | "primary" | "secondary" | "ternary";
}

const { bgColor } = Astro.props;

const bgColorClasses = {
  primary: "bg-primary-100",
  secondary: "bg-ternary-300",
  ternary: "bg-secondary-500",
};

const bgClass = bgColor ? bgColorClasses[bgColor] : "";
---

<section class:list={[bgClass, "overflow-hidden px-4 py-8 md:p-12"]}>
  <div class="mx-auto max-w-5xl">
    <slot />
  </div>
</section>
