---
export interface Props {
  bgColor: "primary" | "secondary" | "transparent";
}

const { bgColor } = Astro.props;

const bgColorClass = {
  transparent: "bg-transparent",
  primary: "bg-primary-100",
  secondary: "bg-ternary-300",
};
---

<section class:list={[bgColorClass[bgColor], "px-2 py-8 md:p-12"]}>
  <div class="mx-auto max-w-7xl">
    <slot />
  </div>
</section>
