---
export interface Props {
  bgColor?: "" | "primary" | "secondary";
}

const { bgColor } = Astro.props;

const bgColorClasses = {
  primary: "bg-primary-100",
  secondary: "bg-ternary-300",
};

const bgClass = bgColor ? bgColorClasses[bgColor] : "";
---

<section class:list={[bgClass, "px-4 py-8 md:p-12"]}>
  <div class="mx-auto max-w-7xl">
    <slot />
  </div>
</section>
